.courses-container {
  min-height: 940px;
  height: 100%;
}

.courses-container-position {
  position: relative;
}

.courses-container-title-text {
  position: absolute;
  top: 320px;
  left: 140px;
}

.courses-title {
  font-size: 150px;
  font-weight: 700;
  margin: 0;
  // max-width: 1625px;
  // width: 100%;
  z-index: 1;
}

.courses-text-description {
  position: absolute;
  top: 500px;
  left: 140px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  width: 750px;
}

.course-container-circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9aeb3;
}

.courses-container-courses {
  display: flex;
  flex-direction: row;
  max-width: 680px;
  flex-wrap: wrap;

  position: absolute;
  top: 300px;
  right: 140px;
  justify-content: space-between;
}

.course-name-container {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.course-icon {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.ms-3 {
  position: absolute;
  z-index: -1;
  // left: 85px;
  top: -130px;
}
