.wimg-education-container {
  min-height: 700px;
  height: 100%;
}

.wimg-education-title-text-container-position {
  position: relative;
}

.wimg-education-title-text-container {
  position: absolute;
  top: 150px;
  left: 140px;
}

.wimg-education-title {
  font-weight: 700;
  font-size: 150px;
}

.wimg-education-description-container {
  font-size: 18px;
  font-weight: 500;
  width: 650px;
}

.wimg-education-university-cards-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.wimg-education-university-card {
  position: absolute;
  top: 250px;
  right: 140px;
  width: 650px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a9aeb3;
}

.ms-1 {
  position: absolute;
  z-index: -1;
}
