.lmih-container {
  width: 1900px;
  max-height: 930px;
  height: 100%;
}

.lmih-bg {
  // position: absolute;
  // left: -130px;
  width: 1900px;
  height: 930px;
}

.lmih-container-position {
  position: relative;
}

.lmih-container-text {
  position: absolute;
  top: 130px;
  left: 140px;
  max-width: 1625px;
  width: 100%;
}

.lmih-title {
  font-size: 148px;
}

.lmih-email {
  font-size: 80px;
}

.send-email-container {
  position: absolute;
  top: 380px;
  right: 0px;
}

.send-email-icon {
  height: 100px;
  width: 100px;
}
