.mg-container {
  min-height: 940px;
  height: 100%;
}

.mg-bg {
  top: 120px;
  position: absolute;
  width: 1900px;
  // left: -90px;
}

.mg-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 250px;
  left: 495px;
}

.mg-text {
  font-size: 200px;
  font-weight: 700;
  margin: 0;
  max-width: 1625px;
  // width: 100%;
}

.profile-img {
  position: absolute;
  top: 345px;
  right: 140px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #a9aeb3;
}

.bottom-description-container {
  display: flex;
  justify-content: center;
}

.bottom-description {
  display: flex;
  justify-content: center;
  max-width: 1640px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 500;
  font-size: 24px;
}
