.work-container {
  min-height: 1700px;
  height: 100%;
}

.work-container-position {
  position: relative;
}

.work-bg {
  position: absolute;
  top: 320px;
  width: 1900px;
}

.title-150 {
  font-size: 150px;
  font-weight: 700;
  margin: 0;
  max-width: 1625px;
  width: 100%;
  position: absolute;
  top: 320px;
  right: 140px;
  z-index: 1;
}

.work-cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 505px;
  left: 140px;
  max-width: 1625px;
  width: 100%;
  justify-content: space-between;
}

.work-card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 535px;
  height: 840px;
}

.work-card-1 {
  height: 275px;
  background-color: #a9aeb3;
}

.work-card-2 {
  height: 555px;
  background-color: #a9aeb3;
}

.work-card-3 {
  height: 715px;
  background-color: #a9aeb3;
}

.work-card-4 {
  height: 115px;
  background-color: #a9aeb3;
}

.work-card-title {
  font-size: 40px;
  margin: 30px 0 0 30px;
}
